@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");

:root {
  --font-family: 'Pretendard Variable';

  --font-size-S: 12px;
  --font-size-M: 14px;
  --font-size-M-L: 1.1em;
  --font-size-L: 1.2em;
  --font-size-X-L: 1.4em;

  --font-weight-S-bold: 500;
  --font-weight-bold: 700;

  --primary-hs: 155, 65%;
  --primary-hsl: 155, 65%, 48%;
  --primary: hsl(var(--primary-hsl));
  --primary-100: hsl(var(--primary-hs), 95%);
  --primary-200: hsl(var(--primary-hs), 90%);

  --gray-100: #333;
  --gray-400: #666;
  --gray-800: #efefef;
  --gray-900: #f6f6f6;
  --white: #fff;

  --br-m: 5px;
  --br-L: 10px;
}